.button {
  background-color: #bd5d38;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: white;
  color: #bd5d38;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.footer {
    background-color: #bd5d38;
    padding: 16px 0;
}

#skill {
  float: center;
  margin: 90px 0 0 0;
  font-family: 'Courier New';
  font-size: 70px;
  font-style: italic;
}